.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    // background-color: $primary;
    background-color: #941e00;
    filter: blur(12);

    .notALink {
        color: white;
        text-decoration: none;
        transition: color 500ms ease;

        &:hover {
            color: black;
        }
    }

    .active {
        animation: stretch 2s ease infinite;
        color: #65aaf7;

        @keyframes stretch {
            0% {
                color: #65aaf7;
            }

            50% {
                color: #2587f7;
            }

            100% {
                color: #65aaf7;
            }
        }
    }
}
