.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-form-field {
  width: 90%;
}

.edit-slider {
  margin-left: auto;
}

.display-form {
  margin-left: 5%;
  display: flex;
  align-items: baseline;

  h3 {
    margin-left: 0%;
    margin-right: 1%;
    width: max-content;
  }
}