<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px" *ngIf="campaign" >
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{campaign.name}}
          </mat-card-title>
          <mat-slide-toggle class="edit-slider" (toggleChange)="toggleEditing()"> Edit
          </mat-slide-toggle>
        </mat-card-header>
        <mat-card-content *ngIf="isEditing; else display" class="dashboard-card-content">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput #name [value]="campaign!.name" (change)="campaign!.name = name.value">
          </mat-form-field> <br>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput #description [value]="campaign!.description"
              (change)="campaign!.description = description.value" />
          </mat-form-field> <br>
          <mat-form-field appearance="fill">
            <mat-label>DM's Notes</mat-label>
            <input matInput #notes [value]="campaign!.DMNotes ?? ''" (change)="campaign!.DMNotes = notes.value" />
          </mat-form-field>
        </mat-card-content>
        <ng-template #display>
          <mat-card-content class="dashboard-card-content">
            <div class="display-form">
              <p>{{campaign.description}}</p>
            </div>

            <div class="display-form" *ngIf="campaign!.DMNotes">
              <h3>DM's Notes:</h3>
              <p>{{campaign!.DMNotes}}</p>
            </div>

            <mat-list *ngIf="campaign!.players">
              <mat-list-item *ngFor="let player of campaign!.players">
                <app-character-link [character]="player"></app-character-link>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>